.flex {
    display: flex;
}

.flex-center {
    @extend .flex;
    justify-content: center;
    align-items: center;
}

.global-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 9;
}

.align-center {
    display: flex;
    align-items: center;
}

.pointer-none {
    pointer-events: none;
}